packages:
  yum:
    ImageMagick: []
    ImageMagick-devel: []
commands:
  01-sudo:
    command: 'sudo su -'
  02-location:
    command: 'cd /usr/local/bin'
  03-mkdir:
    command: 'mkdir ffmpeg && cd ffmpeg'
  04-wget:
    command: 'wget https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz'
  05-tar:
    command: 'tar -xf ffmpeg-release-amd64-static.tar.xz'
